@import './Color.css';

.about-section {
  position: relative;
  padding: 20px 50px;
  margin-top: 40px;
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
  height: 130vh;
}

.about-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
  color: var(--text-color);
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left-column {
  width: 45%;
  padding: 20px;
}

.right-column {
  width: 45%;
  padding: 20px;
}
