@import './Color.css';

.button-link {
    background-color: var(--primary-color);
    padding: 8px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s;
    margin-right: 10px;
  }
  
.button-link:hover {
    background-color: var(--secondary-color);
}
