:root {
    --primary-color: #ff9d4d;
    --secondary-color: #ff7c30;
    --background1-color: #fff0a2;
    --background2-color: #ffb0a2;
    --text-color: #333;

    --grass1-color: #c5f391;
    --grass2-color: #a3e45a;
    --dirt-color: #c77c50;
    --gold-color: #ffdb3a;
    --wood1-color: #8b4b1d;
    --wood2-color: #64320e;
}
