@import './Color.css';

.contact-container {
  padding-top: 10vh;
  text-align: center;
  background-size: cover;
  background-position: center;
  background: linear-gradient(180deg, #222, #111);
  color: var(--text-color);
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.social-links .icon-button {
  width: 50px;
  height: 50px;
  padding: 18px 8px 0px;
  cursor: pointer;
  background-color: var(--primary-color);
  transition: background-color 0.3s;
  border-radius: 20px;
}

.social-links .icon-button:hover {
  background-color: var(--secondary-color);
}
