.sparkle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    animation: sparkle 1.5s infinite;
    pointer-events: none; /* 클릭 방지 */
}

.background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
  
@keyframes sparkle {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
