@import './Color.css';

.scene-appear-animation {
  opacity: 0;
}

.scene-appear-animation.animate {
  animation: appearPlatformer 1s ease-out forwards;
}

.scene {
  left: 30%;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(45deg);
}

.cube {
  position: absolute;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid white;
  border-radius: 4px;
  opacity: 0.8;
}
  
.top {
  background: linear-gradient(135deg, var(--grass1-color), var(--grass2-color));
  transform: rotateX(90deg) translateZ(50px);
}
  
.bottom {
  background-color: var(--dirt-color);
  transform: rotateX(-90deg) translateZ(50px);
}
  
.front { transform: rotateY(0deg) translateZ(50px); }
    
.back { transform: rotateY(180deg) translateZ(50px); }
    
.left { transform: rotateY(-90deg) translateZ(50px); }

.right { transform: rotateY(90deg) translateZ(50px); }

.side-top { background-color: var(--grass1-color);
  position: absolute;
  width: 100%;
  height: 35%;
  top: 0;
  left: 0;
  z-index: 1;
}

.side-bottom { background-color: var(--dirt-color);
  position: absolute;
  width: 100%;
  height: 65%;
  bottom: 0;
  left: 0;
  z-index: 0;
}

@keyframes appearPlatformer {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
