@import './Color.css';

.profile-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    color: var(--text-color);
    margin: 20px auto;
    margin-bottom: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-left: 20px;
    margin-right: 50px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px
}

.profile-name {
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 0
}

.profile-bio {
    font-size: 1rem;
    color: var(--text-color);
}
